.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fixed-legend {
  position: fixed;  /* 固定图例 */
  bottom: 10px;     /* 距离底部10px */
  left: 10px;       /* 距离左侧10px */
  background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
  padding: 10px;    /* 内边距 */
  border-radius: 5px; /* 圆角边框 */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  z-index: 1000;    /* 保证图例位于页面最前 */
  font-size: 14px;  /* 字体大小 */
}
